@import "../..//node_modules/bootstrap-icons/font/bootstrap-icons";
//@import "/node_modules/bootstrap/scss/bootstrap";
// @import "scrollbar.scss";
// @media (prefers-color-scheme: dark) {
//     @import "dark.scss";
// }
.navbar a:hover {
    color: default;
    text-decoration-color: currentColor;
    text-decoration: underline solid currentColor;
}

.card {
    border-radius: 0.5em !important;
}

.btn_hidden {
    border-top-left-radius: 0 !important;
    border-bottom-right-radius: 0.75em !important;
    position: fixed;
    width: 5rem;
    height: 2.5rem;
    top: 0;
    left: 0;
    z-index: 20 !important;
    &:focus {
        box-shadow: none !important;
    }
    &:hover {
        background-color: rgba(180, 180, 180, 0.25) !important;
    }
}

.btn-show {
    position: absolute;
    top: 0;
    left: 0;
}

table,
thead,
tr,
tbody,
th,
td {
    text-align: center;
}

.table td {
    text-align: center;
    height: 2rem;
}

td {
    position: relative;
}

tr.strikethrough td:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    border-bottom: 2px solid #111;
    width: 100%;
}

tr.strikeout td:after {
    content: "\00B7";
    font-size: 1em;
}

.future_events td {
    font-size: 1.15em;
}

.article-home * {
    font-size: 1.055em;
}

.badge {
    font-size: 0.8em;
}

.header-primary {
    font-size: 2em !important;
}

.header-secondary {
    font-size: 1.5em !important;
}

.home-card-header-today,
.home-card-preview-header {
    position: sticky;
    top: 0;
}

.home-section-today {
    z-index: 0;
    position: sticky;
    top: 0;
}

.home-section-today .card {
    border-bottom: 2.5px solid #000;
}

@media only screen and (min-height: 650px) {
    .home-section-today {
        z-index: 10;
    }
}

.home-offcanvas {
    z-index: 9999 !important;
    height: fit-content !important;
    height: min-content;
    border-bottom-right-radius: 1rem !important;
}

div.table-responsive>div.dataTables_wrapper>div.row:nth-child(3)>div[class^="col-"] {
    padding: 10px 5px 5px 0px !important;
}

div.table-responsive>div.dataTables_wrapper>div.row>div[class^="col-"]:first-child {
    padding-left: 5px !important;
}

div.table-responsive>div.dataTables_wrapper>div.row>div[class^="col-"]:last-child {
    padding-right: 5px !important;
}

.newsBanner-container {
    z-index: 20;
    position: sticky;
    bottom: 0;
}

.newsBanner {
    display: none !important;
    width: 70%;
    // background-color: rgba(180, 180, 180, 0.75) !important;
}

.label {
    margin-left: 5px;
    font-size: 80%;
}

.invalid-feedback {
    color: red;
}

.form-floating>label {
    background: none;
}

.home-offcanvas-body-second-link {
    list-style-type: none;
}

.home-offcanvas-body-second-link {
    margin: 0 0 0 5%;
    width: 95%;
    border-radius: 0;
}

.btn-label {
    // position: relative;
    float: left;
    // display: inline;
    // background: rgba(0, 0, 0, 0.15);
    border-radius: 3px 0 0 3px;
}

// input:-webkit-autofill,
// input:-webkit-autofill:hover,
// input:-webkit-autofill:focus,
// textarea:-webkit-autofill,
// textarea:-webkit-autofill:hover,
// textarea:-webkit-autofill:focus,
// select:-webkit-autofill,
// select:-webkit-autofill:hover,
// select:-webkit-autofill:focus {
//     -webkit-text-fill-color: white !important;
//     background-color: white !important;
//     transition: background-color 5000s ease-in-out 0s;
// }
input,
textarea,
select {
    &:-webkit-autofill {
        &:focus {
            -webkit-text-fill-color: rgb(155, 155, 155) !important;
            background-color: white !important;
            transition: background-color 5000s ease-in-out 0s;
        }
        -webkit-text-fill-color: rgb(255, 255, 255) !important;
        transition: background-color 5000s ease-in-out 0s;
    }
}

.form-check-input.form-check-input-green {
    &:checked {
        background-color: #198754 !important;
        border-color: #198754 !important;
    }
    &:focus {
        box-shadow: 0 0 0 0.25rem #19875440;
        border-color: #19875440;
    }
}

hr.separator {
    border: 0.075em solid #000;
    border-radius: 0.75em;
}

nav.navbar.backend_nav {
    border-bottom: 2px solid #000;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}

// .table-select-col {
//     display: flex;
//     justify-content: center;
//     align-content: center;
//     max-width: min-content !important;
// }
.del_following_events {
    overflow-y: auto;
    height: 25rem;
}

.del_following_events thead th {
    position: sticky;
    top: 0;
}

.del_following_events table {
    border-collapse: collapse;
    width: 100%;
}

.del_following_events th,
.del_following_events td {
    padding: 8px 16px;
}

.del_following_events th {
    background: #eee;
}

.del_following_events tr {
    border-bottom: #000 solid 1px;
}

.group_color {
    border-radius: 25em !important;
}