$bg: #000;
$color: #152028;
$white: #fff;
$border-color: #ced4da;
$border-color-35: rgba(206, 212, 218, 0.35);
$border-color-075: rgba(206, 212, 218, 0.075);
$border-color-35: #ced4da25;
$palette-text-primary: #fff;
$palette-text-secondary: rgba(255, 255, 255, 0.7);
$palette-text-disabled: rgba(255, 255, 255, 0.5);
$palette-action-active: #fff;
$palette-action-hover: rgba(255, 255, 255, 0.08);
$palette-action-selected: rgba(255, 255, 255, 0.16);
$palette-action-disabled: rgba(255, 255, 255, 0.3);
$palette-action-disabledBackground: rgba(255, 255, 255, 0.12);
$palette-background-default: rgb(22, 22, 22);
$palette-background-paper: rgb(18, 18, 18);
$palette-background-header: rgb(30, 30, 30);
$box-shadow-default: 0 0 0 0.25rem;
$palette-divider: rgba(255, 255, 255, 0.12);

/* CSS Code wenn Dark Mode aktiv */

body {
    background: $bg;
}

.card {
    background: $palette-background-default;
}

.card .card-header {
    background: $palette-background-header;
}

 :root * {
    // filter: brightness(.7) contrast(1.2);
    color: $palette-text-primary;
}

.alert {
    color: #000 !important;
}

.default-navbar {
    background-color: $palette-background-paper !important;
}

a:hover,
a:hover * {
    color: $palette-text-secondary;
    text-decoration: underline solid currentColor;
}

tr.strikethrough td:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    border-bottom: 2px solid #111;
    width: 100%;
}

tr.strikeout td:after {
    content: "\00B7";
    font-size: 1em;
}

.table-danger {
    --bs-table-bg: #d14954c0;
    --bs-table-striped-bg: #fd5969c0;
    --bs-table-striped-color: rgb(44, 44, 44);
    color: #000;
    border-color: #ee959c;
}

.table {
    --bs-table-bg: transparent;
    --bs-table-accent-bg: transparent;
    --bs-table-striped-color: rgba(255, 255, 255, 0.7);
    --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
    --bs-table-active-color: #212529;
    --bs-table-active-bg: rgba(0, 0, 0, 0.1);
    --bs-table-hover-color: $palette-text-primary;
    --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
    color: $palette-text-primary;
}

.del_following_events th {
    background-color: $palette-background-paper;
}

.home-offcanvas {
    background: $color;
    & .home-offcanvas-close {
        filter: invert(1) grayscale(100%) brightness(200%);
    }
}

.form-control,
.form-select {
    background: $palette-background-paper;
    color: $palette-text-primary;
    &:focus {
        background: $palette-background-paper !important;
        border-color: $border-color;
        outline: 0;
        box-shadow: $box-shadow-default $border-color-35;
        color: $palette-text-primary;
    }
}

.form-check-input {
    border-color: $border-color;
}

.select2-results__options,
.select2-container--default .select2-selection--multiple,
.select2-container--default .select2-selection--multiple .select2-selection__choice,
.select2-container--default.select2-container--focus .select2-selection--multiple,
.select2-results__options {
    background: $palette-background-paper;
    color: $palette-text-primary;
    border-color: $border-color;
    &:focus {
        background: $palette-background-paper;
        border-color: rgb(206, 212, 218);
        outline: 0;
        box-shadow: $box-shadow-default $border-color-35;
    }
}

.select2-container--default .select2-selection--multiple {
    background: $palette-background-paper !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: $palette-background-paper !important;
}

.select2-container--default.select2-container--disabled .select2-selection--multiple {
    background: $palette-action-disabled !important;
}

.select2-results__option:hover {
    background: $palette-background-paper;
    color: $palette-text-primary;
    border-color: $border-color;
    outline: 0;
    box-shadow: $box-shadow-default $border-color-35;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    background: rgba(187, 187, 187, 0.5);
    color: $palette-text-primary;
}

.nav-tabs .nav-link:hover,
.nav-tabs .nav-item .nav-link :hover {
    color: $palette-text-primary;
}

.dataTables_paginate .pagination .paginate_button,
.dataTables_paginate .pagination .active,
.dataTables_paginate .pagination .paginate_button a.page-link {
    background: $border-color-35;
    color: $palette-text-primary;
    &:focus,
    &:hover,
    &:active {
        background: $border-color-075;
        border-color: $border-color;
        outline: 0;
        box-shadow: 0 0 0 0.15rem $border-color-35;
    }
}

.dataTables_paginate .pagination .page-item.active .page-link {
    background: $border-color-075;
    box-shadow: 0 0 0 0.15rem $border-color-35;
    border-color: $border-color;
}

.table-hover>tbody>tr:hover {
    background: #ced4da25;
}

.modal * {
    background: $palette-background-default;
}

.modal-dialog {
    border-radius: 0.75rem;
}

[readonly],
 :disabled {
    background: $palette-action-disabled !important;
}

.select2-search__field {
    background: none !important;
    display: hidden !important;
}

// input,
// input:-webkit-autofill,
// input:-webkit-autofill:focus,
// input:-webkit-autofill:hover,
// input:-webkit-autofill:active,
// input:-webkit-autofill-previewed,
// input:-webkit-autofill-selected {
//     background-color: $palette-background-paper !important;
// }